html, body { 
    height: 100%;
    
    margin: 0;
}


#root{
    height: 100%;
    background-color: lightblue;
}

.flex-container {
  display: flex;
  flex-direction: row;
}


#casing {
    position: fixed;
    left:50%;
    bottom:50%;
    width:120px;
 
    
}
#display-top, #display-bottom{
    
    text-align: right;
    overflow: auto;
    


}

#display-casing{
    
    word-wrap: break-word;
    
    
    background-color: black;
    color: white;
}

#display-top{
    color: yellow
}

.button{
    width: 30px;
    text-align: center;
    height: 30px;
    background-color: grey;
    border: rgb(37, 29, 29);
    border-style: solid;
}

#AC{
    width: 60px;
}


